<%- include("header.ejs") -%>

<h1>welcome to this environment</h1>
<p>using this application you can create your own daily to do list and keep track of your tasks to do!!</p>
<ul>
    <li><a href="/">daily to do list</a></li>
    <li><a href="/work">work list</a></li>
</ul>
<%- include("footer.ejs") -%>